body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.logo {
    max-width: 100px; /* Ajuste o tamanho do logo */
}

header {
    background-image: url(img/imagem 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: slide;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0% { background-image: url(img/imagem 1.jpg); }
    25% { background-image: url(img/imagem 3.jpg); }
    50% { background-image: url(img/imagem 4.jpg); }
    75% { background-image: url(img/imagem 5.jpg); }
    100% { background-image: url(img/imagem 6.jpg); }
}

.nav-item {
    margin-left: 50px;
}

.nav-link {
    color: #ccc;
    transition: color 0.3s; /* Suaviza a transição de cor */
}

.nav-link:hover {
    color: #f39c12; /* Cor ao passar o mouse */
}

form {
    padding: 5px;
}

form label {
    font-weight: bolder;
}

form input:hover,
form select:hover,
form textarea:hover {
    background-color: rgb(250, 246, 246);
}

form textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

/* Adicionando estilos para o footer e botões */
footer {
    background-color: #17a2b8; /* Cor do fundo do rodapé */
}

.social-icons a {
    color: white; /* Cor dos ícones sociais */
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f39c12; /* Cor ao passar o mouse */
}

.btn-outline-danger {
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545; /* Cor ao passar o mouse sobre o botão */
    color: white;
}

.container {
    margin-top: 20px; /* Espaçamento acima do container */
}

section {
    padding: 40px 0; /* Espaçamento nas seções */
}


.box  {

width: 100px;
height: 100px;
background-color: red;
border-radius: 50%;

}
